<AuthorizeView>
    <Authorized>
        <a class="text-success" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="text-warning nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="text-white" href="Identity/Account/Register">Register</a>
        <a class="text-white" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>